html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
}

.company {
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  display: inline-block;
  text-transform: uppercase;
}

.logo.strong {
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
  font-weight: 400;
}

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop li {
  padding-right: 1rem;
}

.button {
  color: white;
  padding: .5rem;
  border-radius: .5rem;
}

.signin.button {
  background-color: blue;
}

.hero {
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}

.banner {
  width: 60%;
  margin-right: 2rem;
}

.banner img {
  width: 100%;
  height: auto;
}

.cta {
  align-self: center;
  width: 40%;
}

.headline {
  font-weight: 700;
  font-size: 2rem;
  display: block;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
}

.sub-head {
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
}

.start.button {
  width: 70%;
  background-color: darkgrey;
  display: block;
  text-align: center;
}

.container {
  padding: 2rem 0.3rem 2rem 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-feature {
  width: 60%;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.main-feature img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  display: block;
}

.main-feature h1 {
  margin-bottom: 0.75rem;
}

.main-feature p {
  padding: 0;
}

.attribution {
  font-size: 0.75rem;
  margin-top: 2rem;
  padding: 0;
}

.features {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 40%;
}

.feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

.feature:first-child {
  padding-top: 0;
}

.feature:last-child {
  background-color: lightgrey;
}

.feature img {
  width: 35%;
  height: auto;
  margin-right: 2rem;
}

.feature p {
  padding: 0;
}

.information {
  align-self: center;
}

.information h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.information p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.information a {
  text-decoration: none;
  color: blue;
  line-height: 1.5rem;
}

.learning {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem 3.5rem;
  background-color: lightgrey;
}

.learning h1 {
  margin-bottom: 1rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  margin: 1rem;
  padding-bottom: 1.5rem;
  flex-basis: 262px;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.course h2, p {
  padding: 0 1rem 1rem 1rem;
}

.course h2 {
  font-weight: 400;
}

.thesis {
  margin-top: 2rem;
  text-align: center;
}

.main-thesis {
  width: 60%;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.main-thesis img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  display: block;
}

.main-thesis video {
  width: 100%;
  margin-bottom: 1.5rem;
  display: block;
}

.main-thesis h2 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.main-thesis p {
  padding: 0;
}

.video {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.thesis-features {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 40%;
}

.thesis-feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

.thesis-feature:first-child {
  background-color: lightgrey;
}

.thesis-feature img {
  width: 35%;
  height: auto;
  margin-right: 2rem;
}

.thesis-feature h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

.thesis-feature p {
  padding: 0;
}

footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.legal {
  font-size: 0.75rem;
  padding: 0;
  display: inline-block;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legal li {
  padding-right: 1rem;
}
